.login-container {  
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.app-title {
    align-self: center;
}

.login-btn {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: larger;
    align-self: center;
}

h1 {
    font-size: xxx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}

h2 {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    margin-bottom: 5rem;
}

btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}