.editor-container {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text {
    align-self: center;
    text-align: center;
}

.text-editor {
    align-self: center;
    padding: 2rem;
    border-radius: 3rem;
    margin-top: 1rem;
    width: 50%;
    height: 50vh;
    resize: vertical;
    background-color: whitesmoke;
    overflow-y: scroll
}

.logout-btn {
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 2rem;
    align-self: center;
}

h3 {
    margin: 0;
    font-size: x-large;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: xx-large;
}

h1 {
    font-size: xxx-large;
}

h1, h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}

h4, p, div, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}